# SQL DB

In [2]:
import sqlite3

In [355]:
conn=sqlite3.connect(':memory:') # connection 만들기
cur=conn.cursor() # sql문을 수행하기 위한 커서

In [4]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [5]:
cur.execute('CREATE TABLE people (name_last, age)') # people이란 table, column은 name_last와 age

In [6]:
who="Yeltsin"
age=72

In [7]:
cur.execute("INSERT INTO people VALUES (?, ?)",(who, age))

In [8]:
cur.execute("SELECT * FROM people where name_last=:who and age=:age",{"who":who, "age":age})
# 그냥 cur.execeute("SELECT * FROM people") 해도 같은 결과

In [9]:
print(cur.fetchone())

('Yeltsin', 72)

In [10]:
cur.fetchall()

[]

In [11]:
cur.execute('INSERT INTO people VALUES(:a, :b)', {'a':who, 'b':age})

In [12]:
data = [('a',1),('b',2),('c',3)]
cur.executemany('INSERT INTO people VALUES (?,?)',data)

In [13]:
# 한번에 만들기

In [14]:
cur.close() # 기존에 있던 cursor, connection 제거

In [15]:
conn.close()

In [16]:
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

In [17]:
cur.executescript('''
    CREATE TABLE people (name, age); 
    INSERT INTO people VALUES('a',1)
''') # 여러줄 입력 시 ; 붙여줘야함

In [18]:
cur.execute("SELECT * FROM people;")
cur.fetchall()

[('a', 1)]

In [19]:
cur.close()
conn.close()

In [20]:
# 이번엔 실제 파일에 저장해보자

In [21]:
conn = sqlite3.connect('ex1.db')
cur=conn.cursor()

In [25]:
cur.executescript('''
    CREATE TABLE people (name, age);
    INSERT INTO people VALUES('a',1)
''')

In [26]:
cur.execute("SELECT * FROM people;")
cur.fetchall()

[('a', 1)]

In [29]:
cur.executemany("INSERT INTO people VALUES(?,?)",[('C',3),('D',4)]) # 반영안됨

In [ ]:
conn.commit() # COMMIT 해줘야 반영됨

In [28]:
cur.executescript("""
    INSERT INTO people VALUES('E',5);
    INSERT INTO people VALUES('F',6);
    INSERT INTO people VALUES('G',7);
""") # 반영됨

In [38]:
cur.execute("DROP TABLE IF EXISTS asdf") # 참조 코드

In [42]:
# 조건에 맞게 table 생성
cur.executescript('''
  DROP TABLE IF EXISTS company;
    CREATE TABLE company(
        id INT PRIMARY KEY NOT NULL,
        name TEXT NOT NULL,
        age INT NOT NULL,
        address TEXT,
        salary REAL
    );
''')

In [44]:
cur.execute('INSERT INTO company VALUES(1, "AAA",33,"sadf",11.0)')

In [45]:
conn.commit()

In [ ]:
# cf: cur.execute() == conn.execute()

In [51]:
conn = sqlite3.connect('create.db')
print("Opened database successfully")

Opened database successfully

In [53]:
conn.execute('''
 CREATE TABLE company(
        id INT PRIMARY KEY NOT NULL,
        name TEXT NOT NULL,
        age INT NOT NULL,
        address TEXT,
        salary REAL);
''')
print("Table created successfully")

Table created successfully

In [54]:
conn.execute('drop table company')

In [55]:
cur.lastrowid, conn.total_changes

(1, 0)

In [56]:
# UPDATE

In [57]:
cid = 1

In [59]:
conn = sqlite3.connect('ex1.db')
conn.execute("UPDATE COMPANY set salary = 25000.00 where ID=:id",{'id':cid})

In [60]:
conn.commit() # DB browser update 됨

In [61]:
print("Total number of rows updated:", conn.total_changes)

Total number of rows updated: 1

In [63]:
cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
    print("ID= ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "\n")

ID=  1
NAME =  AAA
ADDRESS =  sadf
SALARY =  25000.0

In [64]:
list(conn.iterdump()) # 여지까지 cursor로 작업했던 모든 것들 포함 "dump 뜨기"

['BEGIN TRANSACTION;',
 'CREATE TABLE company(\n        id INT PRIMARY KEY NOT NULL,\n        name TEXT NOT NULL,\n        age INT NOT NULL,\n        address TEXT,\n        salary REAL\n    );',
 'INSERT INTO "company" VALUES(1,\'AAA\',33,\'sadf\',25000.0);',
 'CREATE TABLE people (name, age);',
 'INSERT INTO "people" VALUES(\'a\',1);',
 'INSERT INTO "people" VALUES(\'E\',5);',
 'INSERT INTO "people" VALUES(\'F\',6);',
 'INSERT INTO "people" VALUES(\'G\',7);',
 'INSERT INTO "people" VALUES(\'C\',3);',
 'INSERT INTO "people" VALUES(\'D\',4);',
 'COMMIT;']

In [66]:
cur.close()
conn.close()

In [ ]:
# 새로운 예제

In [95]:
conn = sqlite3.connect('playlist.db')
cur=conn.cursor()

In [73]:
cur.executescript('''
    DROP TABLE IF EXISTS Artist;
    CREATE TABLE Artist (
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        title TEXT NOT NULL
    );
    DROP TABLE IF EXISTS Album;
    CREATE TABLE Album (
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        title TEXT NOT NULL,
        Artist_id INT NOT NULL
    );
    DROP TABLE IF EXISTS Genre;
    CREATE TABLE Genre(
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        title TEXT NOT NULL
    );
    DROP TABLE IF EXISTS Track;
    CREATE TABLE Track (
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        title TEXT NOT NULL,
        length INTE NOT NULL,
        rating INTE NOT NULL,
        count INT NOT NULL,
        Album_id INT NOT NULL,
        Genre_id INT NOT NULL
    );
''')

In [75]:
cur.execute('INSERT INTO Artist(title) VALUES(?)', ['Led Zepplin'])

In [76]:
cur.lastrowid

1

In [77]:
cur.execute('SELECT id FROM Artist WHERE title=?',['Led Zepplin'])
cur.fetchone()[0]

1

In [80]:
cur.execute('''INSERT INTO Album(title, Artist_id)
           VALUES(?,?)''',['IV',cur.lastrowid])

In [81]:
cur.execute('''
    INSERT INTO Artist VALUES(NULL,?)
''',['AC/DC'])

In [82]:
cur.lastrowid

2

In [84]:
cur.execute('''
    INSERT INTO Album VALUES(NULL, ?, (
    SELECT id FROM Artist WHERE title=? LIMIT 0,1
    ))
''',['Who Made Who','AC/DC'])

In [85]:
cur.lastrowid, conn.total_changes

(2, 4)

In [87]:
conn.commit()

In [89]:
cur.executemany('INSERT INTO Genre(title) VALUES(?)', 
                [('Rock',),('Metal',)])

In [92]:
data = [
    ('Black Dog', 5, 297, 0, "Who Made Who", 'Rock'),
    ('Stairway', 5, 297, 0, 'Who Made Who', 'Rock'),
    ('About to Rock', 5, 297, 0, 'IV', 'Metal'),
    ('Who Made Who', 5, 297, 0, 'IV', 'Metal'),
]

cur.executemany('''
    INSERT INTO Track VALUES(NULL,?,?,?,?, (
        SELECT id FROM Album WHERE title=? LIMIT 0,1
    ),(
        SELECT id FROM Genre WHERE title=? LIMIT 0,1
    ))
''', data)

In [94]:
conn.commit()

In [103]:
# Join 하기
cur.execute('SELECT * FROM Album INNER JOIN Artist ON Artist.id=Album.Artist_id')
cur.fetchall() 
# cur.execute('SELECT * FROM Artist, Album WHERE Artist.id=Album.Artist_id')과 동일

[(1, 'IV', 1, 1, 'Led Zepplin'), (2, 'Who Made Who', 2, 2, 'AC/DC')]

In [104]:
cur.execute('''
            SELECT A.title, B.title FROM TRACK AS A 
            INNER JOIN Album As B
            ON A.Album_id=B.id
''')
cur.fetchall()

[('Black Dog', 'Who Made Who'),
 ('Stairway', 'Who Made Who'),
 ('About to Rock', 'IV'),
 ('Who Made Who', 'IV')]

In [105]:
cur.execute('''
            SELECT A.title, B.title, C.title FROM TRACK AS A 
            INNER JOIN Album As B
            ON A.Album_id=B.id
            INNER JOIN Genre As C
            ON A.Genre_id=C.id
            WHERE C.title LIKE '%ROCK%'
''')
cur.fetchall()

[('Black Dog', 'Who Made Who', 'Rock'), ('Stairway', 'Who Made Who', 'Rock')]

In [106]:
cur.execute('''
            SELECT A.title, B.title, C.title, D.title FROM TRACK AS A 
            INNER JOIN Album As B
            ON A.Album_id=B.id
            INNER JOIN Genre As C
            ON A.Genre_id=C.id
            INNER JOIN Artist As D
            ON B.Artist_id=D.id
''')
cur.fetchall() 
# 4개 테이블 다 섞었다

[('Black Dog', 'Who Made Who', 'Rock', 'AC/DC'),
 ('Stairway', 'Who Made Who', 'Rock', 'AC/DC'),
 ('About to Rock', 'IV', 'Metal', 'Led Zepplin'),
 ('Who Made Who', 'IV', 'Metal', 'Led Zepplin')]

In [108]:
cur.execute('''
            SELECT A.title, B.title, C.title, D.title FROM TRACK AS A 
            INNER JOIN Album As B
            ON A.Album_id=B.id
            INNER JOIN Genre As C
            ON A.Genre_id=C.id
            INNER JOIN Artist As D
            ON B.Artist_id=D.id
            ORDER BY D.id ASC
''')
cur.fetchall() 
# D order 대로 정렬

[('About to Rock', 'IV', 'Metal', 'Led Zepplin'),
 ('Who Made Who', 'IV', 'Metal', 'Led Zepplin'),
 ('Black Dog', 'Who Made Who', 'Rock', 'AC/DC'),
 ('Stairway', 'Who Made Who', 'Rock', 'AC/DC')]

## SQLAlchemy & ORM
- SQLAlchemy - 객체 관계형 매퍼는 데이터베이스 테이블을 이용해 사용자가 정의한 파이썬 클래스의 메소드와 각각의 행을 나타내는 인스턴스로 표현된다
- sql을 모르는 python 유저들이 애용

In [111]:
import sqlalchemy  # object-relational mapper for the Python programming language

In [112]:
sqlalchemy.__version__

'1.3.5'

In [114]:
from sqlalchemy import create_engine # 객체와 DB를 연결해줌

In [348]:
engine = create_engine("sqlite:///:memory:",echo=True) # DB 서버에 연결
# engine = create_engine("sqlite:///:memory:",echo=True) # memory에 할당
# engine = create_engine("sqlite:///test.db",echo=True) # 파일 생성

In [265]:
print(engine) # provides connectivity to a particular database server

Engine(sqlite:///:memory:)

In [266]:
# meta data(collection of Table objects)에서 상속받기
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
# 객체 생성
metadata=MetaData()
users=Table('users',metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String),
    Column('fullname', String)
)

addresses = Table('addresses',metadata,
    Column('id', Integer, primary_key=True),
    Column('user_id', None, ForeignKey('users.id')),
    Column('email_address', String, nullable=False)
)

In [267]:
users

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None)

In [268]:
metadata.create_all(engine) # engine에다 내가 실행한 명령 쿼리로 생성
# 이 메소드를 호출하면 Engine으로 연결된 데이터베이스에 테이블을 생성해준다.

2020-07-14 21:33:49,000 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2020-07-14 21:33:49,003 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 21:33:49,006 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2020-07-14 21:33:49,009 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 21:33:49,012 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("users")

2020-07-14 21:33:49,014 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 21:33:49,016 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("addresses")

2020-07-14 21:33:49,018 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 21:33:49,020 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

2020-07-14 21:33:49,022 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 21:33:49,025 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2020-07-14 21:33:49,027 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

2020-07-14 21:33:49,029 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 21:33:49,030 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [269]:
print(users.insert()) # insert할 수 있는 부분

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)

In [270]:
insert = users.insert().values(name='test',fullname='testtest')
print(insert)
print(insert.compile().params)

INSERT INTO users (name, fullname) VALUES (:name, :fullname)
{'name': 'test', 'fullname': 'testtest'}

In [356]:
conn = engine.connect()
conn

In [272]:
conn.execute(insert) # 'test', 'testtest' 넣은 것 쿼리문에 반영해줌

2020-07-14 21:33:50,757 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname) VALUES (?, ?)

2020-07-14 21:33:50,760 INFO sqlalchemy.engine.base.Engine ('test', 'testtest')

INFO:sqlalchemy.engine.base.Engine:('test', 'testtest')

2020-07-14 21:33:50,762 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [273]:
# 또다른 insert 방법 - 한줄로 실행하기
cur=conn.execute(users.insert(),{'name':'test2','fullname':'test2test2'}) # dict 방식
result = conn.execute(insert, name = 'test3', fullname = 'test3test3') 
# insert = users.insert().values(name='test',fullname='testtest')
result.lastrowid

2020-07-14 21:33:51,243 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname) VALUES (?, ?)

2020-07-14 21:33:51,246 INFO sqlalchemy.engine.base.Engine ('test2', 'test2test2')

INFO:sqlalchemy.engine.base.Engine:('test2', 'test2test2')

2020-07-14 21:33:51,249 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2020-07-14 21:33:51,252 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname) VALUES (?, ?)

2020-07-14 21:33:51,254 INFO sqlalchemy.engine.base.Engine ('test3', 'test3test3')

INFO:sqlalchemy.engine.base.Engine:('test3', 'test3test3')

2020-07-14 21:33:51,257 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

3

In [274]:
result.inserted_primary_key

[3]

In [275]:
# select
print(users.select().compile())

SELECT users.id, users.name, users.fullname
FROM users

In [276]:
cur = conn.execute(users.select())

2020-07-14 21:33:53,185 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users

2020-07-14 21:33:53,188 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [277]:
users.select()

In [278]:
query = users.select()
result = conn.execute(query)

for row in result:
    print(row)

2020-07-14 21:33:54,659 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users

2020-07-14 21:33:54,662 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'test', 'testtest')
(2, 'test2', 'test2test2')
(3, 'test3', 'test3test3')

In [279]:
from sqlalchemy.sql import select
result = conn.execute(select([users.c.name, users.c.fullname])) # 원하는 항목만 불러내기
for row in result:
    print(row)

2020-07-14 21:33:55,258 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.name, users.fullname
FROM users

2020-07-14 21:33:55,261 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

('test', 'testtest')
('test2', 'test2test2')
('test3', 'test3test3')

In [280]:
# fetchone
result = conn.execute(query)

row = result.fetchone()
print("id -", row["id"], ", name -", row["name"], ", fullname -", row["fullname"])

2020-07-14 21:33:56,129 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users

2020-07-14 21:33:56,132 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

id - 1 , name - test , fullname - testtest

In [281]:
# fetchall
rows = result.fetchall()
for row in rows:
    print("id -", row[0], ", name -", row[1], ", fullname -", row[2])
result.close()

id - 2 , name - test2 , fullname - test2test2
id - 3 , name - test3 , fullname - test3test3

In [282]:
# Conjunctions (and / or)

In [283]:
from sqlalchemy import and_, or_, not_

In [284]:
print(users.c.id == addresses.c.user_id)
print(users.c.id == 1)
print((users.c.id==1).compile().params)

users.id = addresses.user_id
users.id = :id_1
{'id_1': 1}

In [285]:
print(or_(users.c.id==addresses.c.user_id, users.c.id==1))
print(and_(users.c.id==addresses.c.user_id, users.c.id==1))

users.id = addresses.user_id OR users.id = :id_1
users.id = addresses.user_id AND users.id = :id_1

In [286]:
print(and_(
        or_(
            users.c.id == addresses.c.user_id,
            users.c.id ==1
        ),
        addresses.c.email_address.like("a%")
    )
)

(users.id = addresses.user_id OR users.id = :id_1) AND addresses.email_address LIKE :email_address_1

In [287]:
# same as above
print((
        users.c.id==addresses.c.user_id |
        (users.c.id==1)
    ) & (addresses.c.email_address.like("a%")))

users.id = (addresses.user_id OR users.id = :id_1) AND addresses.email_address LIKE :email_address_1

In [288]:
# selecting
result = conn.execute(select([users]).where(users.c.id==1))
for row in result:
    print(row)

2020-07-14 21:34:06,155 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?

2020-07-14 21:34:06,158 INFO sqlalchemy.engine.base.Engine (1,)

INFO:sqlalchemy.engine.base.Engine:(1,)

(1, 'test', 'testtest')

In [289]:
conn.execute(addresses.insert(),{'user_id':1,'email_address':'test1'})
conn.execute(addresses.insert(),{'user_id':2,'email_address':'unittest2'})

2020-07-14 21:34:07,010 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO addresses (user_id, email_address) VALUES (?, ?)

2020-07-14 21:34:07,013 INFO sqlalchemy.engine.base.Engine (1, 'unittest1')

INFO:sqlalchemy.engine.base.Engine:(1, 'unittest1')

2020-07-14 21:34:07,017 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2020-07-14 21:34:07,020 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO addresses (user_id, email_address) VALUES (?, ?)

2020-07-14 21:34:07,023 INFO sqlalchemy.engine.base.Engine (2, 'unittest2')

INFO:sqlalchemy.engine.base.Engine:(2, 'unittest2')

2020-07-14 21:34:07,025 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [290]:
result = conn.execute(select([users, addresses]).where(users.c.id==addresses.c.user_id))
for row in result:
    print(row)

2020-07-14 21:34:20,002 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id

2020-07-14 21:34:20,004 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'test', 'testtest', 1, 1, 'unittest1')
(2, 'test2', 'test2test2', 2, 2, 'unittest2')

In [291]:
result = conn.execute(select([users.c.id, users.c.fullname, addresses.c.email_address]).where(users.c.id==addresses.c.user_id))
for row in result:
    print(row) # 내가 원하는 정보만

2020-07-14 21:34:24,029 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.fullname, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.fullname, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id

2020-07-14 21:34:24,032 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'testtest', 'unittest1')
(2, 'test2test2', 'unittest2')

In [292]:
result = conn.execute(select([users.c.id, users.c.fullname, addresses.c.email_address])
                      .where(users.c.id==addresses.c.user_id)
                      .where(addresses.c.email_address.like("un%")))
for row in result:
    print(row)

2020-07-14 21:34:27,460 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.fullname, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id AND addresses.email_address LIKE ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.fullname, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id AND addresses.email_address LIKE ?

2020-07-14 21:34:27,462 INFO sqlalchemy.engine.base.Engine ('un%',)

INFO:sqlalchemy.engine.base.Engine:('un%',)

(1, 'testtest', 'unittest1')
(2, 'test2test2', 'unittest2')

In [293]:
# join
from sqlalchemy import join
print(users.join(addresses)) # "ON users.id = addresses.user_id"automatically generated 
print(users.join(addresses, users.c.id==addresses.c.user_id)) # same

users JOIN addresses ON users.id = addresses.user_id
users JOIN addresses ON users.id = addresses.user_id

In [294]:
query = select([users.c.id, users.c.fullname, addresses.c.email_address]).select_from(users.join(addresses))
result = conn.execute(query).fetchall()
for row in result:
    print(row)

2020-07-14 21:34:40,954 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.fullname, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id

INFO:sqlalchemy.engine.base.Engine:SELECT users.id, users.fullname, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id

2020-07-14 21:34:40,957 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'testtest', 'unittest1')
(2, 'test2test2', 'unittest2')

In [295]:
# Create metadata

In [397]:
artist = Table("Artist", metadata,
                Column("id", Integer, primary_key=True),
                Column("name", String, nullable=False),
              extend_existing=True)
album = Table("Album", metadata,
                 Column("id", Integer, primary_key=True),
                 Column("title", String, nullable=False),
                 Column("artist_id", Integer, ForeignKey("Artist.id")),
                extend_existing=True)
genre = Table("Genre", metadata,
                Column("id", Integer, primary_key=True),
                Column("name", String, nullable=False),
              extend_existing=True)
track = Table("Track", metadata,
                Column("id", Integer, primary_key=True),
                Column("title", String, nullable=False),
                Column("length", Integer, nullable=False),
                Column("rating", Integer, nullable=False),
                Column("count", Integer, nullable=False),
                Column("album_id", Integer, ForeignKey("Album.id")),
                Column("genre_id", Integer, ForeignKey("Genre.id")),
              extend_existing=True)

metadata.create_all(engine)

2020-07-14 22:39:38,711 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("users")

2020-07-14 22:39:38,713 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 22:39:38,715 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("addresses")

2020-07-14 22:39:38,717 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 22:39:38,720 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Artist")

2020-07-14 22:39:38,722 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 22:39:38,724 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Album")

2020-07-14 22:39:38,726 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 22:39:38,727 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Genre")

2020-07-14 22:39:38,729 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 22:39:38,731 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("Track")

2020-07-14 22:39:38,733 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 22:39:38,736 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)

2020-07-14 22:39:38,738 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 22:39:38,740 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2020-07-14 22:39:38,742 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)

2020-07-14 22:39:38,744 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 22:39:38,746 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2020-07-14 22:39:38,748 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)

2020-07-14 22:39:38,750 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 22:39:38,752 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2020-07-14 22:39:38,755 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

2020-07-14 22:39:38,757 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 22:39:38,759 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2020-07-14 22:39:38,762 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	artist_id INTEGER,
	title VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	artist_id INTEGER,
	title VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)

2020-07-14 22:39:38,763 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 22:39:38,765 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2020-07-14 22:39:38,768 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	title VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	title VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)

2020-07-14 22:39:38,770 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 22:39:38,775 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [398]:
tables = metadata.tables
for table in tables:
    print(table) # In input order
    
for table in engine.table_names():
    print(table) # In ABC order

users
addresses
Artist
Album
Genre
Track
2020-07-14 22:39:52,607 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2020-07-14 22:39:52,610 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

Album
Artist
Genre
Track
addresses
users

In [399]:
# Insert
conn.execute(artist.insert(),[
    {"name":"Led Zepplin"},
    {"name":"AC/DC"}
])
conn.execute(album.insert(), [
    {"title":"IV", "artist_id":1},
    {"title":"Who Made Who", "artist_id":2}
])
conn.execute(genre.insert(),[
    {"name":"Rock"},
    {"name":"Metal"}
])
conn.execute(track.insert(), [
    {"title":"Black Dog", "rating":5, "length":297, "count":0, "album_id":1, "genre_id":1},
    {"title":"Stairway", "rating":5, "length":482, "count":0, "album_id":1, "genre_id":1},
    {"title":"About to rock", "rating":5, "length":313, "count":0, "album_id":2, "genre_id":2},
    {"title":"Who Made Who", "rating":5, "length":297, "count":0, "album_id":2, "genre_id":2}
])

2020-07-14 22:39:59,873 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO "Artist" (name) VALUES (?)

2020-07-14 22:39:59,875 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))

INFO:sqlalchemy.engine.base.Engine:(('Led Zepplin',), ('AC/DC',))

2020-07-14 22:39:59,879 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2020-07-14 22:39:59,882 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (artist_id, title) VALUES (?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO "Album" (artist_id, title) VALUES (?, ?)

2020-07-14 22:39:59,884 INFO sqlalchemy.engine.base.Engine ((1, 'IV'), (2, 'Who Made Who'))

INFO:sqlalchemy.engine.base.Engine:((1, 'IV'), (2, 'Who Made Who'))

2020-07-14 22:39:59,886 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2020-07-14 22:39:59,889 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO "Genre" (name) VALUES (?)

2020-07-14 22:39:59,890 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))

INFO:sqlalchemy.engine.base.Engine:(('Rock',), ('Metal',))

2020-07-14 22:39:59,893 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2020-07-14 22:39:59,899 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (length, rating, count, album_id, genre_id, title) VALUES (?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO "Track" (length, rating, count, album_id, genre_id, title) VALUES (?, ?, ?, ?, ?, ?)

2020-07-14 22:39:59,901 INFO sqlalchemy.engine.base.Engine ((297, 5, 0, 1, 1, 'Black Dog'), (482, 5, 0, 1, 1, 'Stairway'), (313, 5, 0, 2, 2, 'About to rock'), (297, 5, 0, 2, 2, 'Who Made Who'))

INFO:sqlalchemy.engine.base.Engine:((297, 5, 0, 1, 1, 'Black Dog'), (482, 5, 0, 1, 1, 'Stairway'), (313, 5, 0, 2, 2, 'About to rock'), (297, 5, 0, 2, 2, 'Who Made Who'))

2020-07-14 22:39:59,904 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [363]:
# if missspelled a column
# album._columns.remove(album._columns['titile'])
# metadata.drop_all(engine)
# print(album.insert())

2020-07-14 22:24:21,608 INFO sqlalchemy.engine.base.Engine drop table Album

INFO:sqlalchemy.engine.base.Engine:drop table Album

2020-07-14 22:24:21,611 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2020-07-14 22:24:21,613 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [400]:
# Select
artistResult = conn.execute(artist.select())
for row in artistResult:
    print(row)
    
albumResult = conn.execute(album.select())
for row in albumResult:
    print(row)

genreResult = conn.execute(genre.select())
for row in genreResult:
    print(row)
    
trackResult = conn.execute(track.select())
for row in trackResult:
    print(row)

2020-07-14 22:41:48,213 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id, "Artist".name
FROM "Artist"

INFO:sqlalchemy.engine.base.Engine:SELECT "Artist".id, "Artist".name
FROM "Artist"

2020-07-14 22:41:48,215 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'Led Zepplin')
(2, 'AC/DC')
2020-07-14 22:41:48,219 INFO sqlalchemy.engine.base.Engine SELECT "Album".id, "Album".artist_id, "Album".title
FROM "Album"

INFO:sqlalchemy.engine.base.Engine:SELECT "Album".id, "Album".artist_id, "Album".title
FROM "Album"

2020-07-14 22:41:48,221 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 1, 'IV')
(2, 2, 'Who Made Who')
2020-07-14 22:41:48,225 INFO sqlalchemy.engine.base.Engine SELECT "Genre".id, "Genre".name
FROM "Genre"

INFO:sqlalchemy.engine.base.Engine:SELECT "Genre".id, "Genre".name
FROM "Genre"

2020-07-14 22:41:48,226 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 'Rock')
(2, 'Metal')
2020-07-14 22:41:48,231 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track"

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track"

2020-07-14 22:41:48,232 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 297, 5, 0, 1, 1, 'Black Dog')
(2, 482, 5, 0, 1, 1, 'Stairway')
(3, 313, 5, 0, 2, 2, 'About to rock')
(4, 297, 5, 0, 2, 2, 'Who Made Who')

In [402]:
# Where
trackResult = conn.execute(select([track]).where(
                                                and_(track.c.album_id==1, track.c.genre_id==1)
                                            ))
for row in trackResult:
    print(row)

2020-07-14 22:45:16,806 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track"
WHERE "Track".album_id = ? AND "Track".genre_id = ?

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track"
WHERE "Track".album_id = ? AND "Track".genre_id = ?

2020-07-14 22:45:16,809 INFO sqlalchemy.engine.base.Engine (1, 1)

INFO:sqlalchemy.engine.base.Engine:(1, 1)

(1, 297, 5, 0, 1, 1, 'Black Dog')
(2, 482, 5, 0, 1, 1, 'Stairway')

In [403]:
# Update
from sqlalchemy import update
conn.execute(track.update().values(genre_id=2).where(track.c.id==2)) # track.c.id=2의 genre_id=2로 update
conn.execute(track.update().values(genre_id=1).where(track.c.id==3))

2020-07-14 22:46:31,850 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".id = ?

INFO:sqlalchemy.engine.base.Engine:UPDATE "Track" SET genre_id=? WHERE "Track".id = ?

2020-07-14 22:46:31,852 INFO sqlalchemy.engine.base.Engine (2, 2)

INFO:sqlalchemy.engine.base.Engine:(2, 2)

2020-07-14 22:46:31,855 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2020-07-14 22:46:31,857 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".id = ?

INFO:sqlalchemy.engine.base.Engine:UPDATE "Track" SET genre_id=? WHERE "Track".id = ?

2020-07-14 22:46:31,860 INFO sqlalchemy.engine.base.Engine (1, 3)

INFO:sqlalchemy.engine.base.Engine:(1, 3)

2020-07-14 22:46:31,862 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [404]:
result = conn.execute(track.select())
for row in result:
    print(row) # 'Stairway', 'About to rock'의 genre_id가 2와 1로 바뀜

2020-07-14 22:49:58,102 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track"

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track"

2020-07-14 22:49:58,106 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 297, 5, 0, 1, 1, 'Black Dog')
(2, 482, 5, 0, 1, 2, 'Stairway')
(3, 313, 5, 0, 2, 1, 'About to rock')
(4, 297, 5, 0, 2, 2, 'Who Made Who')

In [405]:
# where
trackResult = conn.execute(select([track]).where(
                                                and_(track.c.album_id==1,
                                                    or_(track.c.genre_id ==1,
                                                       track.c.genre_id==2,)
                                                    )))
for row in trackResult:
    print(row) # 결국 track.c.album_id==1 인 애들 두 개 출력

2020-07-14 22:52:40,890 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)

2020-07-14 22:52:40,893 INFO sqlalchemy.engine.base.Engine (1, 1, 2)

INFO:sqlalchemy.engine.base.Engine:(1, 1, 2)

(1, 297, 5, 0, 1, 1, 'Black Dog')
(2, 482, 5, 0, 1, 2, 'Stairway')

In [408]:
# Join
print(track.join(album))

"Track" JOIN "Album" ON "Album".id = "Track".album_id

In [412]:
result = conn.execute(track.join(album).select())
for row in result:
    print(row)

2020-07-14 23:00:32,872 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title, "Album".id, "Album".artist_id, "Album".title
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title, "Album".id, "Album".artist_id, "Album".title
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id

2020-07-14 23:00:32,874 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 297, 5, 0, 1, 1, 'Black Dog', 1, 1, 'IV')
(2, 482, 5, 0, 1, 2, 'Stairway', 1, 1, 'IV')
(3, 313, 5, 0, 2, 1, 'About to rock', 2, 2, 'Who Made Who')
(4, 297, 5, 0, 2, 2, 'Who Made Who', 2, 2, 'Who Made Who')

In [409]:
result=conn.execute(track.select().select_from(track.join(album)))
for row in result.fetchall():
    print(row)

result = conn.execute(track.select()
                             .select_from(track.join(album))
                             .where(album.c.id==1))
for row in result.fetchall():
    print(row)

2020-07-14 22:54:58,446 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id

2020-07-14 22:54:58,448 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 297, 5, 0, 1, 1, 'Black Dog')
(2, 482, 5, 0, 1, 2, 'Stairway')
(3, 313, 5, 0, 2, 1, 'About to rock')
(4, 297, 5, 0, 2, 2, 'Who Made Who')
2020-07-14 22:54:58,453 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
WHERE "Album".id = ?

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
WHERE "Album".id = ?

2020-07-14 22:54:58,455 INFO sqlalchemy.engine.base.Engine (1,)

INFO:sqlalchemy.engine.base.Engine:(1,)

(1, 297, 5, 0, 1, 1, 'Black Dog')
(2, 482, 5, 0, 1, 2, 'Stairway')

In [413]:
# multiple join
print(track.join(album))
print(track.join(album).join(genre))
print(track.join(album).join(artist))
print(track.join(album).join(genre).join(artist)) # multiple

result = conn.execute(select([track.c.title, album.c.title, genre.c.name, artist.c.name])
                     .select_from(track.join(album).join(genre).join(artist)))
for row in result.fetchall():
    print(row)

"Track" JOIN "Album" ON "Album".id = "Track".album_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Artist" ON "Artist".id = "Album".artist_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2020-07-14 23:02:49,339 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id

2020-07-14 23:02:49,341 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Stairway', 'IV', 'Metal', 'Led Zepplin')
('About to rock', 'Who Made Who', 'Rock', 'AC/DC')
('Who Made Who', 'Who Made Who', 'Metal', 'AC/DC')

In [414]:
result = conn.execute(track
                     .select()
                     .select_from(track.join(album).join(genre).join(artist))
                     .where(
                         and_(
                             genre.c.id==1,
                             artist.c.id==1,
                         )))
for row in result.fetchall():
    print(row)

2020-07-14 23:04:05,529 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE "Genre".id = ? AND "Artist".id = ?

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE "Genre".id = ? AND "Artist".id = ?

2020-07-14 23:04:05,532 INFO sqlalchemy.engine.base.Engine (1, 1)

INFO:sqlalchemy.engine.base.Engine:(1, 1)

(1, 297, 5, 0, 1, 1, 'Black Dog')

In [416]:
# Open/Close
metadata.reflect(bind=engine)
for row in metadata.tables:
    print(row)

2020-07-14 23:06:18,341 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2020-07-14 23:06:18,343 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

users
addresses
Artist
Album
Genre
Track

In [417]:
tables = metadata.tables
for table in tables:
    print(table)
track = metadata.tables["Track"] # 이런식으로 python 객체화 가능
for row in conn.execute(track.select()).fetchall():
    print(row)

users
addresses
Artist
Album
Genre
Track
2020-07-14 23:06:57,226 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track"

INFO:sqlalchemy.engine.base.Engine:SELECT "Track".id, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id, "Track".title
FROM "Track"

2020-07-14 23:06:57,228 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

(1, 297, 5, 0, 1, 1, 'Black Dog')
(2, 482, 5, 0, 1, 2, 'Stairway')
(3, 313, 5, 0, 2, 1, 'About to rock')
(4, 297, 5, 0, 2, 2, 'Who Made Who')

In [418]:
conn.close()
metadata.clear()